@charset "utf-8";
*{box-sizing: border-box;}
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
	margin: 0px;
	padding: 0px;
}


fieldset, img, input, button {
	border: none;
	padding: 0px;
	margin: 0px;
	outline-style: none;
}

ul, ol {
	list-style: none;
}

input {
	padding-top: 0px;
	padding-bottom: 0px;
	font-family: "SimSun", "宋体", serif;
	box-sizing:border-box;
	/* width:200px */
}

select, input {
	vertical-align: middle;
}

select, input, textarea {
	font-size: 12px;
	margin: 0px;
}
textarea {
	resize: none;
}

/*防止拖动*/
img {
	border: 0px;
	vertical-align: middle;
}

/*  去掉图片低测默认的3像素空白缝隙*/
table {
	border-collapse: collapse;
}

body {
	/* font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; */
	font-size:14px;
	color: #666;
	background-image: url();
	/* background-position: 10px; */
	background-repeat: no-repeat;
	background-size: 100% auto;
	/* height: 1000px; */

}

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1; /*IE/7/6*/
}

a {
	/* color: #666; */
	color: #3c3c3c;
	text-decoration: none;
}

a:hover {
	color: #f40;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: none;
	font-weight: normal;
	font-size: 100%;
}

s, i, em {
	font-style: normal;
	text-decoration: none;
}

.col-red {
	color: rgb(16, 68, 151) !important;
}
body {
	color: #3C3C3C;
	/* background-color: #F1F1F4; */
	background-color: #fff;
	/* max-width: 1800px; */
    min-width: 1000px;
}

/*公共类*/
.w {
	/*版心 提取 */
	width: 1190px;
	margin: 0px auto;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.al {
	text-align: left;
}

.ac {
	text-align: center;
}

.ar {
	text-align: right;
}

.hide {
	display: none;
}

footer{
	padding-top: 20px;
    line-height: 37px;
    font-size: 13px;
    height: 300px;
    background-color: #ECECEC;
    clear: both;
    /* margin-top: 10px; */
    /* border-top: 2px solid #D11518; */
    border-top: 2px solid rgb(16, 68, 151);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: #666;

}



.flex-style{
    display:-webkit-flex;
    display:flex;
    /* flex-direction: row; */
   
}

.flex-rstyle{
    display:-webkit-flex;
    display:flex;
	flex-direction: row;
	justify-content: space-between;
   
}

.row{
    flex-direction: row;
}

.colum{
    flex-direction: column;

}

.flex-cstyle{
    display:-webkit-flex;
    display:flex;
}

.space{
	justify-content: space-around;
}


.section{
    min-height:300px;
    background-color:#fff;
    width:63%;
	float:left;
	
}

aside{
    /* height:300px; */
    background-color:#fff;
    width:35%;
    float:right;
}

div.ellipsis {
    padding-left: 5px;
    text-align: left;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.save p {
    width:100%;
    position:relative;
    line-height:1.4em;
    height:4.2em;
    /* height:2.8em; */
    overflow:hidden;
}
/* .save p:after {
	content: "...";
    position: absolute;
    bottom: 0;
    right: 0px;
	background: #FFF;
	display: block;   
	width: 50px;
    text-align: start;
    
} */

/* 分页器样式 */
.demo {
	margin: 16px;
	padding: 26px 20px;
	margin-bottom: 20px;
	background-color: #f7f7f7;
  }
  .customBootstrap .pagination li{
	  float: left;
  }

  .customBootstrap .pagination > li > a {
	margin-right: 5px;
	border-radius: 2px;
	background: #fff;
	color: #333;
	border-color: #ccc;
	padding: 6px 15px;
  }
  .customBootstrap .pagination > li > a:hover,
  .customBootstrap .pagination > li > a:focus {
	color: #fff;
	background: #fb9400;
	border-color: #fb9400;
  }
  .customBootstrap .pagination > .active > a,
  .customBootstrap .pagination > .active > a:hover,
  .customBootstrap .pagination > .active > a:focus {
	color: #fff;
	background: #fb9400;
	border-color: #fb9400;
  }
  .customBootstrap .pagination > .disabled > a,
  .customBootstrap .pagination > .disabled > a:hover,
  .customBootstrap .pagination > .disabled > a:focus {
	color: #999;
	background: #fff;
	border-color: #ddd;
	cursor: not-allowed;
  }

  /* 正在加载中样式 */

  .busy-load-container{
	align-items: flex-start!important;
    padding-top: 154px!important;
  }


  /* 弹框样式 */

  .showMessage {
	padding: 15px 15px;
	border-radius: 15px;
	position: fixed;
	top: 45%;
	left: 45%;
	color: #ffffff;
}
.showMessageSuccess {
	background-color: rgba(0,183,238,0.8);
	/* background-color: #00B7EE; */
}
.showMessageError {
	background-color: rgba(243, 29, 29, 0.8);
	/* trans */
}
.noneRes{
	height: 42px;
	line-height: 54px;
	font-size: 17px;
  }


#app{
	/* max-width: 1500px; */
    min-width: 1000px;
}
