section {
    padding: 15px;
}

nav {
    justify-content: space-between;
    width: 100%;
    line-height: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66FFFFFF,endColorstr=#66FFFFFF); /*IE8支持*/
    font-size: 12px;
}

.search {
    height: 25px;
    /* width: 120px; */
    margin-left: 22px;
    display: flex;
    border: 1px solid #ddd;
    margin-top: 10px;
    width: 230px;
}

.search input {
    float: left;
    flex: 4;
    height: 23px;
    line-height: 23px;
    outline: none;
    width: 198px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-left: 10px;
}

.search button {
    float: right;
    flex: 1;
    height: 25px;
    /* background-color: #666; */
    color: #666;
    border-style: none;
    outline: none;
    font-size: 12px;
    padding: 3px;
    line-height: 20px;
}

.search button i {
    font-style: normal;
}

.search button:hover {
    /* font-size: 16px; */
}




.content{
    height: 100%;
    width: 85%;
    /* max-width: 1291px; */
    max-width: 1500px;
    min-width: 1000px;
    background: #fff;
    margin: 0px auto 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.content-top {
    width: 100%;
    background: rgb(16, 68, 151);
    min-height: 50px;
    margin-top: 200px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; */
    justify-content: space-around;
    padding: 3px;

}

.title-left {
    width: 60px;
    height: 50px;
    background: #f1f1f4;
    color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    float: left;
}

.title-right {
    float: right;
    line-height: 24px;
    /* padding: 0px 10px; */
    /* max-width: 235px; */
}

.title-right a {
    padding: 5px;
    color: #fff;
}

.title-hold {
    /* padding: 10px; */
}

.hot-content {
    width: 80%;
    margin: 0px auto;
    height: 100%;
    line-height: 35px;
    /* padding-top: 6px; */

}



.hot-new {
    width: 100%;
    padding: 10px 0px!important;
    /* margin-top: 5px; */
    z-index: 10;
    background-image: url(../images/gonggao.jpg);
    background-repeat: no-repeat;
    background-position: 0px 21px;
    background-size: 100% 93px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/hot.png',  sizingMethod='scale');
}

.hot-new div {
    color: #494848;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.hot-new a {
    padding-top: 23px;
    padding-left: 108px;
    height: 90px;
    /* border: 1px solid #ddd; */
    width: 100%;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    /* box-shadow: inset 0px 0px 5px #96969673; */
    background-image: url(../images/hot.png);
    background-repeat: no-repeat;
    background-position: -1px 8px;
    background-size: 88px;
    



}

.hot-new span {
    color: #969696;
    font-size: 13px;
}

.new-content {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    height: 550px;
}

.hot-img {
    /* margin: 10px; */
    /* height: 315px; */
    background: #ddd;
    /* margin-bottom: 15px; */
    width: 100%;
    /* height: 425px; */

}


.hot-img a {
    width: 100%;
    max-height: 400px;
    min-height: 350px;
    /* padding: 10px; */
}

.hot-img img {
    width: 100%;
    max-height: 400px;
    min-height: 350px;
    height: 100%;
}

.scan {
    
    padding-top: 15px;
    /* margin-right: 10px; */
    margin-right: 14px;
    /* margin-top: 10px; */
    float: left;
    width: 66%;
    text-align: center;
    padding: 15px 50px;
    font-size: 13px;
    border: 1px solid #ddd;
    color: #969696;
    box-shadow: 2px 2px 2px #ddd;
    background: -webkit-linear-gradient(#969696a3, #fff);
    /* Safari 5.1-6.0 */
    background: -o-linear-gradient(#969696a3, #fff);
    /* Opera 11.1-12.0 */
    background: -moz-linear-gradient(#969696a3, #fff);
    /* Firefox 3.6-15 */
    background: linear-gradient(#969696a3, #fff);
    /* 标准语法 */


    
}

.scan img {
    margin-bottom: 5px;
    width: 66px;
}

.call {
    float: right;
    width: 32%;
    /* width: 35%; */
    justify-content: space-between;
    align-items: flex-end;


}

.call a {
    width: 99%;
}

.call img {
    height: 55px;
    /* margin-bottom: 5px; */
    width: 99%;
    /* box-shadow: 2px 2px 2px #ddd; */
}

.content-left {
    border: 1px solid #ddd;
    border-top: 2px solid rgb(16, 68, 151);

}

.left-title {
    background-color: #EDEDED;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px 15px;
    padding-top: 10px;
    height: 35px;
    font-size: 16px;
    box-shadow: 2px 2px 2px #ddd;
    color: #666;

}

.left-title a {
    /* box-sizing: border-box;  */
    font-size: 12px;
    color: #969696;
}
.left-choice{
    
    height: 100%;
    box-sizing: border-box;
    margin-top: 5px;
    
}

.left-choice span {
    height: 30px;
    cursor: pointer;
    padding: 7px 16px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /* margin-top: 4px; */
    background-color: #fff;
    color: #3c3c3c;
}

.left-active {
    background-color: #032197 !important;
    color: #fff !important;
}

.left-bottom {
    border: 1px solid #ddd;
    margin-top: 5px;
}

.left-bottom>div {
    justify-content: space-between;
    padding: 0px 10px;
}




.left-middle {
    padding: 10px;
}

.left-middle div:nth-child(1) {
    color: rgb(16, 68, 151);
    padding: 5px;
}

.left-middle div:nth-child(2) {
    font-size: 13px !important;
    padding: 5px;
    line-height: 25px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: box;
    /* height: 80px; */

}

.content-list {
    border-top: 1px solid #ddd;
    line-height: 33px;
    padding: 10px;
    /* margin-top: 5px; */
    font-size: 14px;
}
.content-min{
    min-height: 200px;
}

.content-list li {
    /* min-width: 50px; */
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;

}


.content-list a{
    padding-left: 5px;
}

.content-list li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #DE001D;
    margin-right: 5px;
    margin-bottom: 2px;

}

.more {
    padding: 7px 16px;
    font-size: 12px;
    color: #969696;
    padding-top: 11px;
}

.shine-group {
    justify-content: space-between;
    height: 50px;
    border-bottom: 4px solid rgb(16, 68, 151);
    padding: 0px 10px 0px 90px;
    background-image: url(../images/shine.png);
    background-repeat: no-repeat;
    background-position: 2px 0px;
    background-size: contain;
    line-height: 62px;
    width: 100%;
}

.shine-group>div {
    font-size: 18px;
}

.shine-group span,
.shine-group a {
    font-size: 13px;
    padding: 0px 17px;
}

.bottom-line {
    width: 100%;
    height: 20px;
    background: #F2F3F3;
}

.shine-content {
    margin-top: 20px;
}

.shine-set img {
    /* width: 140px; */
    height: 100px;
}

.shine-set {
    width: 47%;
    margin-left: 3%;
    /* border: 1px solid #ddd; */
}

.shine-title {
    justify-content: space-between;
    height: 40px;
    font-size: 18px;
    padding: 7px 0px 0px 0px;
    font-weight: 600;
    background-image: url(../images/dang.png);
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 30px;

    
    border-bottom: 1px solid #ddd;

}

.shine-title>div {
    padding-left: 50px;
    width: 50%;
    border-bottom: 2px solid rgb(16, 68, 151);
    height: 36px;
    
    /* border-bottom: 2px solid #D11518; */
}

.shine-detail {
    padding-left: 10px;
    line-height: 20px;
    min-height: 66px;
    width: 90%;
}

.shine-detail>div {
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: -webkit-box;
    display: box;
    font-size: 13px;
    height: 45px;
}

.shine-detail h2 {}

.shine-detail a {
    color: #D11518;
    font-size: 14px;
}

.mid-pic {
    width: 100%;
    /* height: 100px; */
}

.mid-pic img {
    width: 100%;
    height: 110px;
    margin-top: 10px;
}


.shine-left {
    margin-left: 0px !important;
    
    /* background-color: #F5F5F5; */
    border: 1px solid #ddd;
    width: 100%;
    /* padding: 0px 10px; */
}

.shine-leftIcon{
    background-image: url(../images/gren-icon.jpg);
    background-position: 305px 15px;
    background-repeat: no-repeat;
    background-size: 40px;
}



.shine-left button {
    margin-left: 5px;
    padding: 3px 10px 3px 26px;
    border: 1px solid #ddd;
    background: url(../images/plus.png) no-repeat;
    background-size: 16px;
    background-position: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 13px;
}

.shine-left h3 {
    padding: 4px 0px 11px 6px;
    font-size: 16px;
}

.say {
    width: 110px;
    height: 20px;
    padding: 0px 10px;

}

.say img {
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.shine-bottom {
    border: 1px solid #ddd;
    margin-top: 10px;
}


.shine-bottom img {
    width: 80%;
    /* height: 175px; */
    display: block;
    margin: 7px auto;
    height: 200px;
    /* height: 250px; */
}

.download {
    border: 1px solid #ddd;
    /* margin-left: 2%; */

}

.download>div {
    font-size: 15px;
    font-weight: 400;
}

.ask {
    flex-direction: column;
    justify-content: flex-start;
    color: #D11518;
    font-size: 12px;
    align-items: center;
    margin-top: 45px;
}


.ask img {
    width: 60px;
    height: 44px;
}

.ask span{
    display: block;
}


.horizontal {
    margin-top: 25px;
    margin-bottom: 20px;
    width:100%;
    /* padding: 0px 15px; */
}


.horizontal a {
    width: 49%;
    height: 92px;
}


.horizontal img {
    width: 100%;
    height: 92px;
}

.book-list {
    /* justify-content: space-around; */
    justify-content: flex-start;
    height: 45%;
    white-space:nowrap;
    /* float: left; */

}

.book-list a {
    width: 26%;
    margin-top: 5px;
    margin-left: 25px;
    height: 95%;

}

.book-list img {
    width: 100%;
    height: 100%;
    max-height: 134px;
    max-width: 128px;
    /* height: 148px;
    margin-top: 15px; */
}

.shine-set2 {
    width: 40%;
    /* margin-left: 3%; */
    padding-bottom: 15px;
    min-height: 330px;
}

.shine-set3 {
    width: 58%;
    margin-left: 2%;
    padding-bottom: 15px;
    min-height: 330px;
}

.book-list2 {
    justify-content: flex-start;
    height: 45%;
    white-space:nowrap;

}

.book-list2 a {
    width: 31%;
    height: 90%;
    margin-top: 10px;
    margin-left: 14px;
    /* float: left; */
    float: right;

}

.book-list2 img {
    width: 100%;
    height: 100%;
    max-height: 120px;
    max-width: 230px;
    /* height: 148px;
    width: 180px;
    margin-top: 15px; */
}


.book-list2 a {
    position: relative;
}

.book-list2 a div {
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-size: 13px;
    background-color: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); /*IE8支持*/
    text-align: center;
    width: 100%;
    height: 26px;
    line-height: 24px;
}

.links {
    height: 40px;
    background: #F4F4F4;
    border: 1px solid #ddd;
    border-top: 2px solid rgb(16, 68, 151);
    line-height: 40px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 40px;
}

.link-title {
    background-color: rgb(16, 68, 151);
    padding: 3px 7px;
    color: #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.webs span {
    padding: 10px 12px;
    cursor: pointer;

}

.webs-selected {
    background: #FAF9F5;
}

.websites {
    min-height: 70px;
    line-height: 50px;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid rgb(16, 68, 151);
    margin-bottom: 50px;
    width: 100%;
    white-space:normal;
    overflow: hidden;
}

.websites li{
    float: left;
    /* min-width: 150px; */
    text-align: center;
    padding-left: 3%;
}

footer a {
    padding: 10px;
}

footer img {
    width: 70px;
}

#groupContent>a {
    height: 38px;
    line-height: 38px;
    font-size: 17px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#quest li {
    width: 90%;
}

.moreHeight{
    height: 38px;
    line-height: 25px;
    padding-top: 4px!important;
    /* box-sizing: border-box; */
}

.top{
    min-width: 1000px;
    margin: 0px auto;
}
.top ul{
    /* 清除ul标签的默认样式 */
    /* ie8居中要有固定的width */
    width: 1000px;
    /* width: 100%; */
    
	list-style-type: none;
	margin: 0px auto;            
	padding: 0px;
	overflow: hidden;

}
.top li {    
	float:left; /* 使li内容横向浮动，即横向排列  */
	margin-right:50px;  
}

.top li a{
   /* 设置链接内容显示的格式*/
	display: block; /* 把链接显示为块元素可使整个链接区域可点击 */
	color:white;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none; /* 去除下划线 */
}
.top li a:hover{
	/* 鼠标选中时背景变为白色 */
	background-color: #fff;
	color: rgb(16, 68, 151);
}
.top ul li ul{
	/* 设置二级菜单 */
	width: auto;
	background:rgb(16, 68, 151);
	color: #fff!important;
    margin-top: 1px;
	position: absolute;
	display: none; /* 默认隐藏二级菜单的内容 */
    z-index: 10;
    
    box-shadow: inset 0px 0px 2px #96969673;

}
.top ul li ul li{
	/* 二级菜单li内容的显示 */
	margin-right:0;
	float:none;
	text-align: center;
    z-index: 10;
    padding-left: 0px;
}
.top ul li:hover ul{
	/* 鼠标选中二级菜单内容时 */
	display: block;
	z-index: 10;
}